@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 3% 11%;
    --foreground: 0 0% 91%;
    --card: 204 9% 21%;
    --card-foreground: 0 0% 91%;
    --popover: 204 9% 21%;
    --popover-foreground: 0 0% 91%;
    --primary: 197 52% 43%;
    --primary-foreground: 0 0% 91%;
    --secondary: 200 55% 25%;
    --secondary-foreground: 0 0% 91%;
    --muted: 215 4% 21%;
    --muted-foreground: 0 0% 70%;
    --accent: 197 52% 43%;
    --accent-foreground: 0 0% 91%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 91%;
    --border: 215 4% 21%;
    --input: 215 4% 21%;
    --ring: 197 52% 43%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

